/*
  --------------------------------- Layout du pied de page
*/

footer {
    color: peachpuff;

}

.piedpage {
    display: flex;
    flex-direction: column;
    align-items: center; // Centrer le contenu horizontalement
    border: 1px solid rgba(255, 255, 255, 0.603);
    padding: 2.1rem 1rem;
    border-top: none;
    border-bottom: none;
    border-radius: 15%;
    background-color: rgb(21, 97, 159);
    margin: 0 5%;
    

    &__courriel, &__adresse {
            color: peachpuff;
        }
        a {
            color: peachpuff;
            transition: color 0.3s ease; 
        }
        a:hover {
            color: rgba(0,0,0,0.3);
        }

    &__s1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px; 
        width: 100%; 
        margin: 0 auto; 

        &__compagnies {
            display: flex;
            flex-direction: column;
            
            
            .menu {
                gap: 10px;
            }
        }

        &__externe {
            & .menu { //ul
                display: flex;
                flex-direction: column;
            }
        }

        &__adresse {
            &__coord {}
            &__recherche {
                margin-top: 20px;
                #s {
                    background-color: rgba(0,0,0,.1);
                    font-family: "Sour Gummy", sans-serif;
                    color: peachpuff;
                    border: none;
                    outline: none;
                    margin-right: 3px;
                }
                #searchsubmit {
                    background-color: rgb(21, 97, 159);
                    font-family: "Sour Gummy", sans-serif;
                    color: peachpuff;
                    padding: 2px .6rem;
                    border: 1px solid;
                    border-color: peachpuff;
                    border-radius: 15%;
                    border-top: none;
                    border-bottom: none;
                }
                
            }
        }

        &__description {
            max-width: 200px; 
            text-align: center; 
        }

        &__guide {
            text-decoration: underline;
            text-decoration-color: blanchedalmond;
        }
    }
    &__h2 {
        font-family: "Sour Gummy", sans-serif;
        color: #f3d41c;
    }
}
