/*
  --------------------------------- Layout du pied de page
*/

footer {
    color: peachpuff;

}

.piedpage {
    display: flex;
    flex-direction: column;
    align-items: center; // Centrer le contenu horizontalement
    border: 1px solid rgba(255, 255, 255, 0.603);
    padding: 2.1rem 1rem;
    border-top: none;
    border-bottom: none;
    border-radius: 15%;
    background-color: rgb(21, 97, 159);
    

    &__courriel, &__adresse {
            color: peachpuff;
        }
        a {
            color: peachpuff;
            transition: color 0.3s ease; // Transition fluide de la couleur du texte
        }
        a:hover {
            color: rgba(0,0,0,0.3);
        }

    &__s1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px; // Définir une largeur maximale pour la boîte
        width: 100%; // S'assurer que la boîte prend toute la largeur disponible
        margin: 0 auto; // Centrer la boîte horizontalement

        &__compagnies {
            display: flex;
            flex-direction: column;
            
            
            .menu {
                gap: 10px;
            }
        }

        &__externe {
            & .menu { //ul
                display: flex;
                flex-direction: column;
            }
        }

        &__adresse {
            &__coord {}
            &__recherche {
                margin-top: 20px;
            }
        }

        &__description {
            max-width: 200px; // Définir une largeur maximale pour le texte
            text-align: center; // Centrer le texte
        }

        &__guide {
            text-decoration: underline;
            text-decoration-color: blanchedalmond;
        }
    }
    &__h2 {
        font-family: "Sour Gummy", sans-serif;
        color: #f3d41c;
    }
}
