body {
    background-color: rgb(1 115 208);
}
.global {
    margin: 5%;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sour Gummy", sans-serif;
}
.populaire {
    font-family: "Sour Gummy", sans-serif;
}
.boiteflex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  #menu-principal {
    li {
        border: 1px solid rgba(255, 255, 255, 0.603);
        padding: 0 .6rem;
        border-top: none;
        border-bottom: none;
        border-radius: 15%;
        background-color: rgb(21, 97, 159);
    }
  }

.hero{
    min-height: 100vh;
    background-image: url("images/maldives.jpg");
    display: flex;
    flex-direction: column;

    &__titre {
        font-size: 5rem;
        text-shadow: 3px -3px 3px rgb(255 188 15);
        color: #f3d41c;
    }
    &__description {
        font-size: 2rem;
        color: #f3d41c;
    }
    &__icone-app {
        margin-top: 5px;
    }
    
    &__bouton {
        display: inline-flex; // Utilisez inline-flex pour que le bouton s'adapte à la taille du texte
        align-items: center; // Centrer le contenu verticalement
        justify-content: center; // Centrer le contenu horizontalement
        background-color: rgb(1 115 208 / 66%);
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        font-size: inherit; // Utilisez la même taille de police que le texte environnant
        color: #f3d41c; // Couleur du texte
        text-decoration: none; // Supprimez la décoration du texte pour les liens
        cursor: pointer;
    }

    &__bouton:hover {
        background-color: rgba(0, 229, 255, 0.7); // Changez la couleur de fond au survol
    }

    button, a, p{
        // margin-top: 2%;
        margin-bottom: 2%;
    }
}

.inscription {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 140%);
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    z-index: 10;
    width: 60%;

    #containeur__infos {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: space-between;
        
    }

    #containeur__infos > div {
        flex: 1;
        min-width: 200px;
    }

    &__bouton {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #007BFF;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }
    
}




.promotion{
    h1{
        margin: 2%;
    }

    &__images {
        display: grid;
        grid-template-columns: repeat(5, 1fr); 
        grid-template-rows: repeat(2, auto); 
        gap: 5px; 
        margin: 2%;
    }

    &__images img {
        width: 100%;
        height: auto;
        object-fit: cover; 
    }
}







